<h1>لیست سفارش ها</h1>
<table>
    <thead>
        <tr>
            <th>شماره سفارش</th>
            <th>تاریخ سفارش</th>
            <th>وضعیت پرداخت</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>
                    <a href="{% url 'orders:order_detail' order.id %}">{{ order.id }}</a>
                </td>
                <td>{{ order.created }}</td>
                {% if order.paid %}
                    <div class="success">
                        <td>موفق</td>
                    </div>
                {% else %}
                    <div class="failed">
                        <td>نا موفق</td>
                    </div>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>